<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Galeria</title>

    <link rel="stylesheet" href="/style.css">

    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;700&family=Ubuntu:wght@700&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <h1>Galeria</h1>
    </header>
    <main>
        <div class="content">
            <div class="cards">
                <div class="card">
                    <img src="https://images.unsplash.com/photo-1486260713155-8095db2d9954?ixlib=rb-1.2.1&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=1080&fit=max&ixid=eyJhcHBfaWQiOjE0MzQ5Nn0" alt="baseball players playing baseball on baseball field">
                    <div class="card-content">
                        <span>04/02/2017</span>
                        <p>Descrição: Jogador de Baisebol</p>
                    </div>
                </div>
                <div class="card">
                    <img src="https://images.unsplash.com/photo-1486260713155-8095db2d9954?ixlib=rb-1.2.1&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=1080&fit=max&ixid=eyJhcHBfaWQiOjE0MzQ5Nn0" alt="baseball players playing baseball on baseball field">
                    <div class="card-content">
                        <span>04/02/2017</span>
                        <p>Descrição: Jogador de Baisebol</p>
                    </div>
                </div>
                <div class="card">
                    <img src="https://images.unsplash.com/photo-1486260713155-8095db2d9954?ixlib=rb-1.2.1&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=1080&fit=max&ixid=eyJhcHBfaWQiOjE0MzQ5Nn0" alt="baseball players playing baseball on baseball field">
                    <div class="card-content">
                        <span>04/02/2017</span>
                        <p>Descrição: Jogador de Baisebol</p>
                    </div>
                </div>
                <div class="card">
                    <img src="https://images.unsplash.com/photo-1486260713155-8095db2d9954?ixlib=rb-1.2.1&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=1080&fit=max&ixid=eyJhcHBfaWQiOjE0MzQ5Nn0" alt="baseball players playing baseball on baseball field">
                    <div class="card-content">
                        <span>04/02/2017</span>
                        <p>Descrição: Jogador de Baisebol</p>
                    </div>
                </div>
                <div class="card">
                    <img src="https://images.unsplash.com/photo-1486260713155-8095db2d9954?ixlib=rb-1.2.1&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=1080&fit=max&ixid=eyJhcHBfaWQiOjE0MzQ5Nn0" alt="baseball players playing baseball on baseball field">
                    <div class="card-content">
                        <span>04/02/2017</span>
                        <p>Descrição: Jogador de Baisebol</p>
                    </div>
                </div>
                <div class="card">
                    <img src="https://images.unsplash.com/photo-1486260713155-8095db2d9954?ixlib=rb-1.2.1&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=1080&fit=max&ixid=eyJhcHBfaWQiOjE0MzQ5Nn0" alt="baseball players playing baseball on baseball field">
                    <div class="card-content">
                        <span>04/02/2017</span>
                        <p>Descrição: Jogador de Baisebol</p>
                    </div>
                </div>
            </div>
        </div>
    </main>
</body>
</html>