<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Galeria</title>

    <link rel="stylesheet" href="/style.css">

    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;700&family=Ubuntu:wght@700&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <h1>Galeria</h1>
    </header>
    <main>
        <div class="content">
            <div class="cards">
                {% for image in images %}
                    <div class="card">
                        <img 
                            src="{{ image.urls.small }}" 
                            alt="{{ image.alt_description }}">
                        <div class="card-content">
                            <span>{{ image.created_at }}</span>
                            <p>
                                {% if image.description %}
                                    Descrição: {{ image.description }}
                                {% else %}
                                    Descrição: -
                                {% endif %}
                            </p>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </main>

    <script src="/script.js"></script>
</body>
</html>